<!DOCTYPE HTML>
<!--
  Identity by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Playlist Analysis</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <link rel="icon" href="images/favicon.png">
  </head>
  <body class="is-preload">

    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Main -->
          <section id="main">
            <header>
              {{$img := index .Playlist.Images 0}}
              <span class="avatar"><img src="{{$img.URL}}" alt="" style="width: 100%"/></span>
              <h1>{{.Playlist.Name}}</h1>
              <p>{{.Playlist.Tracks.Total}} Tracks Analyzed</p>
            </header>
            <footer>
              <!-- First Track -->
              <div class="card">
                {{$albumArt := index .FirstTrack.Track.Album.Images 0}}
                  <img src="{{$albumArt.URL}}" alt="Avatar" style="width:100%">
                  <div class="container">
                    <h2>First Track Added</h2>                 
                    <p>{{.FirstTrack.Track.SimpleTrack.Name}}<br>Added {{.FirstTrack.AddedAt}}</p> 
                  </div>
              </div>
              <br>
              <!-- Tempo -->
              <div class="card" style="padding-top: 20px">
                  <div class="spinner" style="-webkit-animation: sk-scaleout {{.BPS}}s infinite ease-in-out;animation: sk-scaleout {{.BPS}}s infinite ease-in-out;"></div>
                  <div class="container">
                    <h2>Average Tempo</h2>                 
                    <p>{{printf "%.2f" .Tempo}} Beats Per Minute</p> 
                  </div>
              </div>
              <br>
            </footer>
          </section>

        <!-- Footer -->
          <footer id="footer">
            <ul class="copyright">
              <li>&copy; Jesse Somerville</li>
            </ul>
          </footer>

      </div>

    <!-- Scripts -->
      <script>
        if ('addEventListener' in window) {
          window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
          document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
        }
      </script>

  </body>
</html>